html{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.debug .container, .debug .container [class*="col-"]{
}

.top-header.container [class*="col-"]{
  height:80px;

}

.top-header img{
  width:80px;
}

[class*="nav-"] li{
  display: inline-block;
  line-height: 80px;
}
[class*="nav-"] li:not(:last-child){
  margin-right:10px;
}
[class*="nav-"] li > a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem
}

[class*="nav-"]{
  float:right;
}

.ghost-align::before{
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

[class*="col-"] i{
  line-height: 80px;
  float:right;
}

.container.banner{
  max-width: 100%;
  height: 400px;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8% 0px;
  text-align:center

}
h1.title{
  color: white;
  font-size: 2.5rem;
  margin-bottom:10px;

}
p.title{
  color:white;
  font-size: 1rem;
  margin-bottom:10px;
}

.container.banner > [class*="col-"]{

  top: 50%;
}

.container.banner > div > a > img{
  width:150px;
}

section{
  margin-top:50px;
}

.section-one{
  text-align:center;
}

.helbizgo{
  width:200px;
}
.helbizbike{
  width:200px;
}

.section-one > div{
  background-color:#FAFAFA;
  padding: 50px 0;
}

.section-one > div > h1,p{
  margin-bottom:5px;
}

.section-one > div > a{
  text-decoration: none;
  color:blue;
}

.section-one > div:first-child{
  margin-right:10px;
}

/*Aggiustamenti testo per responsive*/
@media screen and (max-width: 767px){
h1.title{
  font-size: 1.5rem;
}
}
